*{
    box-sizing: border-box;
}
A{
    text-decoration: none;
}

body{
    background: #E5E5E5;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 92px;
    background-color: #CF2B2B;
    align-items: center;
}
header h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #FFFFFF;
    padding: 8px 21px 5px; 
}
header p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0px 21px 18px; 
}

.container{
    margin: 92px 0;
    padding: 31px 0 0 19px;
}
.escolha-prato{
    overflow: scroll;
}
.titulo p{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin-bottom: 17px;
}
.pratos{
    display: flex;
    width: 100%;  
    margin-bottom: 27px;  
}
.prato{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 172px;
    height: 216px;
    margin-right: 16px;
    padding: 18px 14px 13px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.prato img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.prato-nome p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    
}
.prato-descricao p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}
.prato-preco p{
    display: flex;
    align-items: end;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92px;
    background-color: #CF2B2B;
}
.botao-pedido{
    display: flex;
    align-items: center;
    width: 364px;
    height: 61px;
    padding: 0 80px;
    margin: 15px auto;
    background-color: #CBCBCB;
    border-radius: 50px;

}
.botao-pedido p {
    
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFFFFF;

}

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');