*{
    box-sizing: border-box;
}
A{
    text-decoration: none;
}

body{
    position: relative;
    background: #E5E5E5;
}

/*------------------- header -----------------------*/
header{
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 92px;
    background-color: #CF2B2B;
    align-items: center;
}
header h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #FFFFFF;
    padding: 8px 21px 5px; 
}
header p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0px 21px 18px; 
}

/*------------------- main -----------------------*/
.container{
    display: flex;
    flex-direction: column;
    margin: 92px 0;
    padding: 31px 0 0 19px;
}
.escolha-prato, .escolha-bebida, .escolha-sobremesa{
    overflow: scroll;
}
.titulo p{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin-bottom: 17px;
}
.pratos, .bebidas, .sobremesas{
    display: flex;
    width: 100%;  
    margin-bottom: 27px;  
}
.prato, .bebida, .sobremesa{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 172px;
    height: 216px;
    margin-right: 16px;
    padding: 18px 14px 13px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.prato img, .bebida img, .sobremesa img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.prato-nome p, .bebida-nome p, .sobremesa-nome p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    
}
.prato-descricao p, .bebida-descricao p, .sobremesa-descricao p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}
.prato-preco p, .bebida-preco p, .sobremesa-preco p {
    display: flex;
    align-items: end;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*------------------- footer -----------------------*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92px;
    background-color: #CF2B2B;
}
.botao-pedido{
    display: flex;
    align-items: center;
    width: 364px;
    height: 61px;
    padding: 0 80px;
    margin: 15px auto;
    background-color: #CBCBCB;
    border-radius: 50px;

}
.botao-pedido p, .botao-finalizar-pedido p {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
}
.botao-pedido p{
    font-weight: 400;
}
.botao-finalizar-pedido p{
    font-weight: 700;
}

.botao-finalizar-pedido{
    display: flex;
    align-items: center;
    width: 364px;
    height: 61px;
    padding: 0 80px;
    margin: 15px auto;
    background-color: #32B72F;
    border-radius: 50px;
}

/*------------------- tela de finalizacao -----------------------*/
.tela-finalizacao{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
}
.caixa{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    width: 377px;
    height: 353px;
    padding: 21px 25px 2px;
    top: calc(50% - 352px/2);
    left: calc(50% - 376px/2);
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px #00000040;
    border-radius: 9px;
}
.finalizar-pedido{
    display: flex;
    align-items: center;
    width: 329px;
    height: 52px;
    margin: 15px auto;
    background-color: #FFF;
    border-radius: 50px;
}
.cancelar{
    display: flex;
    align-items: center;
    width: 329px;
    height: 52px;
    margin: 0px auto;
    background-color:#50D074;
    border-radius: 50px;
    border-color: #50D074;

}
.finalizar-pedido p, .cancelar p {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.finalizar-pedido p{
    color: #50D074;
    font-size: 22px;
    font-weight: 700;
}
.cancelar p{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}


/*------------------- interacao -----------------------*/
.selecionado{
    box-shadow: 0px 0px 0px 5px #32B72F inset;    
}
.escondido {
    display: none;
}
/*------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');